$bg: #d2d2d2;
$bg-warn: #e9c704;

.features {
	&-featureTitle {
		background-color: $bg-warn;
		color: white;
		padding: 16px;
	}

	&-featureContent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 16px;
		width: 100%;
	}

	&-selectedItem {
		.features-featureItem {
			flex-basis: 730px;
			min-width: 730px;
		}
	}

	&-selectedFeature {
		display: flex;
		width: 730px;
	}
	&-featureItem {
		background-color: $bg;
		border: solid;
		flex-basis: 50%;
		overflow: hidden;

		&:last-of-type {
			flex-grow: 1;
			align-self: strech;
		}
	}
	&-flexHelper {
		border: solid 1 px;
		display: flex;
		flex-direction: column;
		width: 95%;
	}

	&-control {
		padding: 16px;
		height: 40px;
	}
}

.itemValuesContainer {
	margin-top: 20px;
	background: yellow;
	border: solid 1 px red;
	display: flex;
	flex-basis: 48%;
	flex-direction: column;
	flex-wrap: wrap;
}

.data-icon {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 50px;
}
