@import './../colors.scss';

.item {
	&-titles {
		display: flex;
		font-weight: bolder;
		flex-direction: row;
		width: 100%;

		.meassurement-itemValues {
			margin-right: 10px;
		}
	}

	&-featureTitle {
		color: white;
		padding: 16px;
		text-transform: uppercase;

		&.success {
			background-color: $bg-success;
		}
		&.warning {
			background-color: $bg-warn;
		}
		&.danger {
			background-color: $bg-danger;
		}
	}

	&-featureContent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 16px 0;
		width: 50%;
	}

	&-selectedItem {
		.features-featureItem {
			flex-basis: 730px;
			min-width: 730px;
		}
	}

	&-selectedFeature {
		display: flex;
		height: 500px;
		max-width: 730px;
	}
	&-featureItem {
		background-color: $bg;
		border: solid white;
		flex-basis: 50%;
		overflow: hidden;

		&:last-of-type {
			flex-grow: 1;
		}
	}
	&-flexHelper {
		display: flex;
		flex-wrap: wrap;
		padding: 16px;
		width: 95%;
	}

	&-control {
		padding: 16px;
		height: 40px;
	}
}

.itemValuesContainer {
	margin-top: 20px;
	background: $bg-warn;
	display: flex;
	flex-basis: 48%;
	flex-direction: column;
	flex-wrap: wrap;
}

.data-icon {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 50px;
}
